<div class="container">

  <mat-card>
    <mat-toolbar color="accent">
      <div align="center" style="color:white;text-align: right;">
        CRUD operation in Angular using Web api and Sql Database
      </div>
    </mat-toolbar>
  <br><br>
    <mat-card-content>
      <form [formGroup]="vehicleForm"(ngSubmit)="onFormSubmit()">
              <table>
                <tr>
                  <td class="tbl1">
                    <mat-form-field class="demo-full-width">
                      <input formControlName="FuelType" matTooltip="Enter FuelType Name" matInput placeholder="FuelType">
                    </mat-form-field>
                    <mat-error>
                      <span *ngIf="!vehicleForm.get('FuelType').value && vehicleForm.get('FuelType').touched"></span>
                    </mat-error>
                  </td>
                </tr>

                <tr>
                  <td class="tbl1">
                    <mat-form-field class="demo-full-width">
                      <input formControlName="Brand" matTooltip="Enter Brand Name" matInput placeholder="Brande">
                    </mat-form-field>
                    <mat-error>
                      <span *ngIf="!vehicleForm.get('Brand').value && vehicleForm.get('Brand').touched"></span>
                    </mat-error>
                  </td>
                </tr>

                <tr>
                  <td class="tbl1">
                    <mat-form-field class="demo-full-width">
                      <input formControlName="Type" matTooltip="Enter Type Name" matInput placeholder="Type">
                    </mat-form-field>
                    <mat-error>
                      <span *ngIf="!vehicleForm.get('Type').value && vehicleForm.get('Type').touched"></span>
                    </mat-error>
                  </td>
                </tr>

                <tr>
                  <td class="tbl1">
                    <mat-form-field class="demo-full-width">
                      <input formControlName="ConstructionYear" matTooltip="Enter ConstructionYear Name" matInput placeholder="ConstructionYear">
                    </mat-form-field>
                    <mat-error>
                      <span *ngIf="!vehicleForm.get('ConstructionYear').value && vehicleForm.get('ConstructionYear').touched"></span>
                    </mat-error>
                  </td>
                </tr>

                <tr>
                  <td class="tbl1">
                    <mat-form-field class="demo-full-width">
                      <input formControlName="Driver" matTooltip="Enter ConstructionYear Name" matInput placeholder="Driver">
                    </mat-form-field>
                    <mat-error>
                      <span *ngIf="!vehicleForm.get('Driver').value && vehicleForm.get('Driver').touched"></span>
                    </mat-error>
                  </td>
                </tr>

                <tr>
                  <td class="tbl1">
                    <mat-form-field class="demo-full-width">
                      <input formControlName="Kilometers" matTooltip="Enter ConstructionYear Name" matInput placeholder="Kilometers">
                    </mat-form-field>
                    <mat-error>
                      <span *ngIf="!vehicleForm.get('Kilometers').value && vehicleForm.get('Kilometers').touched"></span>
                    </mat-error>
                  </td>
                </tr>


                <tr>
                <td></td>
                <td  class="content-center">
                  <button type="submit" mat-raised-button color="accent"matTooltip="Click Submit Button"[disabled]="!vehicleForm.valid">Submit</button>
                  <button type="reset" mat-raised-button color="accent"matTooltip="Click Reset Button" (click)="resetForm()">Reset</button>
                </td>
                <td>
                  <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">
                    {{massage}}
                  </p>
                </td>
              </tr>
              </table>
  <br><br>
        <table class="table" >
            <tr ngclass="btn-primary">
              <th class="tbl2">FuelType</th>
              <th class="tbl2">Brand</th>
              <th class="tbl2">Type</th>
              <th class="tbl2">ConstructionYear</th>
              <th class="tbl2">Driver</th>
              <th class="tbl2">Kilometers</th>
              <th class="tbl2">Edit</th>
              <th class="tbl2">Delete</th>
            </tr>
            <tr *ngFor="let vehicle of allVehicles | async">
              <td class="tbl2">{{vehicle.FuelType}}</td>
              <td class="tbl2">{{vehicle.Brand }}</td>
              <td class="tbl2">{{vehicle.Type}}</td>
              <td class="tbl2">{{vehicle.ConstructionYear}}</td>
              <td class="tbl2">{{vehicle.Driver}}</td>
              <td class="tbl2">{{vehicle.Kilometers}}</td>
              <td class="tbl2">
                <button type="button" class="btn btn-info"matTooltip="Click Edit Button"(click)="loadVehicleToEdit(vehicle.id)">Edit</button>
              </td>
              <td class="tbl2">
                <button type="button" class="btn btn-danger"matTooltip="Click Delete Button"(click)="deleteVehicle(vehicle.id)">Delete</button>
              </td>
            </tr>

          </table>
      </form>
    </mat-card-content>
  </mat-card>
  </div>
